*{
  margin: 0%;
}
@media (max-width: 768px) {
  .cards {
    justify-content: center;
  }
}


header{
  position: relative;
  max-width: 1800px;
  width: 100%;
  top: 50px;
  padding: 20px;
  background: rgb(0, 0, 0);
  color: wheat;
  font-size: 30px;
  font-family:Emilys Candy;
  text-align: center;
}

#Row{
  position: relative;
  top: 70px;
  height: 730px; 
}

div{
  position: relative;
  width: 410px;
  height: 690px;
  margin: 100px;
  float: left;
  border-radius: 3%;
}

.one{
  display: inline;
}

.imgs{
  left: 30px;
  width: 100%;
  height: 480px;
  border-radius: 3% 3% 0 0 ;
  border: solid groove;
}

p{
  margin: 20px;
  font-size: 19px;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}
button{
  padding: 6px;
  width: 25%;
  margin: 20px;
  margin-right: 40%;
  float: right;
  cursor: pointer;
  background: orange;
  box-shadow: 2px  2px 2px  gray;
  border-radius: 10px;
  font-family: Pacifico;
  font-size: medium;
}
button:hover {
  background: #000;
  color: #fff;
}


h1{
  position: relative;
  left: 20px;
  text-align: center;
  text-decoration: underline;
}

.about{
    background: rgb(241, 217, 217);
    height: 48%;
    position: relative;
    width: 70%;
    left: 10%;
  }